@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  /* background-image: linear-gradient(to bottom right, #100d42, #38186e); */
  background-color: #1c1a39;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.big-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: auto;
  position: relative;
  /* display: flex; */
}

.box {
  background-image: linear-gradient(to bottom right, #ff3898, #4b3eff);
  width: 32rem;
  height: 38rem;
  border-radius: 0 20px 20px;
  position: absolute;
  top: -4rem;
  right: 10rem;
  z-index: -1;
}

.quiz-con {
  z-index: 1;
  width: 38rem;
  /* height: 48rem; */
  background-color: #232141; /* test */
  border-radius: 20px;
  padding: 4rem;
  color: #f5f5f5;
}

.quiz-con ul {
  list-style: none;
}

.title{
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #f5f5f5;
}

.question-title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
  color: #c4c0ff;
}

.quiz-con ul {
  /* background-color: aqua; */
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.quiz-con li {
  display: flex;
  gap: 1.5rem;
}

.quiz-con li label {
  /* background-color: #f5f5f5; */
  font-size: 1.7rem;
}

.quiz-con li:last-child {
  margin-bottom: 2rem;
}

ul li label {
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* padding: 1rem 0; */
  /* background-color: #756BFF;  */
}

.btn {
  padding: 1.5rem;
  width: 100%;
  background-color: #756bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out, background 0.3s ease-in-out; */

}

.btn:hover {
  /* transition: 0.3s ease-in-out; */
  background: linear-gradient(
    308deg,
    rgba(63, 94, 251, 1) 9%,
    rgba(252, 70, 107, 0.9582366589327146) 74%
  );
}

.modal {
  display: none;
  background-color: #4b3eff;
  width: 60rem;
  border-radius: 20px;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper-modal {
  padding: 2rem;
  /* background-color: #c4c0ff; */
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-m {
  font-size: 3rem;
}

.box-m{
  top: -5rem;
  right: 32rem;
  height: 32rem;
}


